<% provide(:title, 'Home') %>

<div style="background: #fff !important" class="center jumbotron mt-5">
<h1>Welcome to the Sample App</h1>

<h2>
This is the home page for 
<a href="https://fredbandaport.netlify.app/">the tutorial</a>
Sample application
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Ruby on Rails", width: 200), "https://fredbandaport.netlify.app", class: "hidden-xs" %>


