<% provide(:title, 'Home') %>


<h1>Sample App</h1>
<p>
This is the home page for the
<a href="https://fredbandaport.netlify.app/">Ruby on Rails
</a>
sample application.
<h1>I am Here to contribute</h1>

<p>Strong believer of learn to be dangerous </p>

<h3>Got to love ROR like a lion</h3>
</p>




